{
  "plugins": [
    "syntax-flow",
    "transform-decorators-legacy",
    "react-hot-loader/babel",
    ["module-resolver", {
      "alias": {
        "build": "./build",
        "client": "./src/client",
        "static": "./static",
        "server": "./src/server"
      }
    }]
  ],
  "presets": [
    [
      "env",
      {
        "loose": true,
        "useBuiltIns": true
      }
    ],
    "stage-0",
    "flow",
    "react"
  ],
  "sourceMaps": true,
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
